div{
    text-align: center;
    font-family:'Times New Roman';
    font-size: medium;
    font-weight: bold;
    border: 3px solid red;
    padding-right: 30px;
    background-color: chartreuse;
}
table{
    border: 2px solid black;
    border-collapse:collapse;
}
td,th
{
    border: 1px solid black;
    padding:2px; 
}